version: "3"

services:
  postgres_db:
    image: postgres
  redis_db:
    image: redis
  lotsizing:
    build: .
    command: bash -c "python manage.py makemigrations && python manage.py migrate && python manage.py runprodserver 0.0.0.0:8000"
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - postgres_db
      - redis_db
