{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    OBJETIVO
{% endblock %}

{% block content %}
    <p>
        El objetivo de la decisión en producción es la minimización de la suma de los costos de mantenimiento de inventario, costos de producción y costos de backorder en cada periodo.
    </p>

    <p>
        Los costos de setup son considerados irrelevantes para los calculos y el tiempo para colocar un kilogramo de Hilo en el mercado (lead time) es asumido igual a cero.
    </p>

    <p>
        Su desempeño será evaluado por la suma de costos en cada uno de los microperiodos de los semestres.
    </p>

    <h4>
        1. Costo de Mantenimiento de inventario
    </h4>
    <p>
        Este costo es aquel en que se incurre debido al almacenamiento de productos que no son vendidos en un microperiodo. Al iniciar el juego y en cada pantalla se le recordará este costo por cada kg de hilo almacenado o en stock.
    </p>

    <h3>
        2. Costos de Producción
    </h3>
    <p>
        Por cada kg de producción, debera asumir un costo que sera indicado en la pantalla donde se toma la decisión.
    </p>

    <h3>
        3. Costos de backorder:
    </h3>

    <p>
        Este costo refiere a aquel que afecta a la empresa por la demanda de kg de hilo que no llega a cumplir, es decir, cuando el stock
        para un periodo agregado con la producción del mismo no abastece la demanda, sin embargo, esta venta no alcanzada se mantiene hasta lograr producir una cantidad suficiente para abastecerla.
        Este costo será mostrado en cada período de decisión (por cada kg de hilo).
    </p>

    {% next_button %}
{% endblock %}

