{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Thank you for being part of this study
{% endblock %}

{% block content %}
    <p>
        You, as a programmer, are responsible of the master production programming of the polyestiren (RED and BLUE).
        And so, your performance is vital for the economic success of the enterprise.
    </p>

    <h4>
        DECISION
    </h4>

    <p>
        Your task is to decide the ammount of thread (kg), of each color, to be produced in each period.
    </p>

    {% next_button %}
{% endblock %}

