{% extends "global/Page.html" %}
{% load otree %}

{% block content %}

<p><th> Costo unitario de inventario = S/. 5</th></p>
<p><th> Costo de Set-up = S/.1500</th></p>
<p><th> Costo venta perdida = S/. 10</th></p>
<p><th> Capacidad maxima entre las dos producciones = 1500 unidades </th></p>

 <table class=table>
        <thead>
        <tr>
            <th>DATOS</th>
            <th>HILO AZUL</th>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <th>HILO ROJO</th>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Periodos</th>
            <td> Periodo 1-7 </td>
            <td> Periodo 1-8 </td>
            <td> Periodo 1-9 </td>
            <td> Periodo 1-10 </td>
            <td> Periodo 1-11 </td>
            <td> Periodo 1-12 </td>
            <td> Periodo 1-7 </td>
            <td> Periodo 1-8 </td>
            <td> Periodo 1-9 </td>
            <td> Periodo 1-10 </td>
            <td> Periodo 1-11 </td>
            <td> Periodo 1-12 </td>
        </tr>
        <tr>
            <th>Inventario Final</th>
            <td> {{inventario2}}</td>
            <td> {{inventario3}}</td>
            <td> {{inventario4}}</td>
            <td> {{inventario5}} </td>
            <td> {{inventario6}} </td>
            <td> - </td>
            <td> {{Rojoinventario2}} </td>
            <td> {{Rojoinventario3}} </td>
            <td> {{Rojoinventario4}} </td>
            <td> {{Rojoinventario5}} </td>
            <td> {{Rojoinventario6}} </td>
            <td> - </td>
        </tr>
        <tr>
            <th>Ventas Perdidas</th>
            <td> {{ventasperdidas1}} </td>
            <td> {{ventasperdidas2}} </td>
            <td> {{ventasperdidas3}} </td>
            <td> {{ventasperdidas4}} </td>
            <td> {{ventasperdidas5}} </td>
            <td> - </td>
            <td> {{rojoventasperdidas1}} </td>
            <td> {{rojoventasperdidas2}} </td>
            <td> {{rojoventasperdidas3}} </td>
            <td> {{rojoventasperdidas4}} </td>
            <td> {{rojoventasperdidas5}} </td>
            <td> - </td>
        </tr>
        <tr>
            <th>Costo de Almacenamiento [S/.]</th>
            <td> {{costoalmacenamiento1}} </td>
            <td> {{costoalmacenamiento2}} </td>
            <td> {{costoalmacenamiento3}} </td>
            <td> {{costoalmacenamiento4}} </td>
            <td> {{costoalmacenamiento5}} </td>
            <td> - </td>
            <td> {{rojocostoalmacenamiento1}} </td>
            <td> {{rojocostoalmacenamiento2}} </td>
            <td> {{rojocostoalmacenamiento3}} </td>
            <td> {{rojocostoalmacenamiento4}} </td>
            <td> {{rojocostoalmacenamiento5}} </td>
            <td> - </td>
        </tr>
        <tr>
            <th>Costo de Ventas Perdidas [S/.]</th>
            <td> {{costoventasperdidas1}} </td>
            <td> {{costoventasperdidas2}} </td>
            <td> {{costoventasperdidas3}} </td>
            <td> {{costoventasperdidas4}} </td>
            <td> {{costoventasperdidas5}} </td>
            <td> - </td>
            <td> {{rojocostoventasperdidas1}} </td>
            <td> {{rojocostoventasperdidas2}} </td>
            <td> {{rojocostoventasperdidas3}} </td>
            <td> {{rojocostoventasperdidas4}} </td>
            <td> {{rojocostoventasperdidas5}} </td>
            <td> - </td>
        </tr>
        <tr>
            <th>Costo de Set - Up [S/.]</th>
            <td> {{setup1}}</td>
            <td> {{setup2}} </td>
            <td> {{setup3}} </td>
            <td> {{setup4}} </td>
            <td> {{setup5}} </td>
            <td> - </td>
            <td> {{rojosetup1}} </td>
            <td> {{rojosetup2}} </td>
            <td> {{rojosetup3}} </td>
            <td> {{rojosetup4}} </td>
            <td> {{rojosetup5}} </td>
            <td> - </td>
        </tr>
        <tr>
            <th>COSTOS TOTALES [S/.]</th>
            <td> {{totales1}} </td>
            <td> {{totales2}} </td>
            <td> {{totales3}} </td>
            <td> {{totales4}} </td>
            <td> {{totales5}} </td>
            <td> - </td>
            <td> {{rojototales1}} </td>
            <td> {{rojototales2}} </td>
            <td> {{rojototales3}} </td>
            <td> {{rojototales4}} </td>
            <td> {{rojototales5}} </td>
            <td> - </td>
        </tr>

        </tbody>
    </table>
    <table class=table>
        <thead>
        <tr>
            <th>DATOS</th>
            <th>HILO AZUL</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Periodos</th>
            <td> Periodo 1-7 </td>
            <td> Periodo 1-8 </td>
            <td> Periodo 1-9 </td>
            <td> Periodo 1-10 </td>
            <td> Periodo 1-11 </td>
            <td> Periodo 1-12 </td>
        </tr>
        <tr>
            <th>Inventario Inicial</th>
            <td> {{inventario1}} </td>
            <td> {{inventario2}} </td>
            <td> {{inventario3}} </td>
            <td> {{inventario4}} </td>
            <td> {{inventario5}} </td>
            <td> {{inventario6}}</td>
        </tr>
        <tr>
            <th>Demanda</th>
            <td>{{Constants.HanoiDemanda7}}</td>
            <td>{{Constants.HanoiDemanda8}}</td>
            <td>{{Constants.HanoiDemanda9}} </td>
            <td>{{Constants.HanoiDemanda10}} </td>
            <td>{{Constants.HanoiDemanda11}} </td>
            <td> - </td>
        </tr>
        <tr>
            <th>Cantidad a producir</th>
            <td>{{ player.ProduccionHanoi7 }}</td>
            <td>{{ player.ProduccionHanoi8 }}</td>
            <td>{{ player.ProduccionHanoi9 }}</td>
            <td>{{ player.ProduccionHanoi10 }} </td>
            <td>{{ player.ProduccionHanoi11 }} </td>
            <td>{% formfield player.ProduccionHanoi12 %} </td>
        </tr>
        </tbody>
    </table>

     <table class=table>
        <thead>
        <tr>
            <th>DATOS</th>
            <th>HILO ROJO</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Periodos</th>
            <td> Periodo 1-7 </td>
            <td> Periodo 1-8 </td>
            <td> Periodo 1-9 </td>
            <td> Periodo 1-10 </td>
            <td> Periodo 1-11 </td>
            <td> Periodo 1-12 </td>
        </tr>
        <tr>
            <th>Inventario Inicial</th>
            <td> {{rojoinventario1}} </td>
            <td> {{Rojoinventario2}} </td>
            <td> {{Rojoinventario3}} </td>
            <td> {{Rojoinventario4}} </td>
            <td> {{Rojoinventario5}} </td>
            <td> {{Rojoinventario6}}</td>
        </tr>
        <tr>
            <th>Demanda</th>
            <td>{{Constants.rojoHanoiDemanda7}}</td>
            <td>{{Constants.rojoHanoiDemanda8}}</td>
            <td>{{Constants.rojoHanoiDemanda9}} </td>
            <td>{{Constants.rojoHanoiDemanda10}} </td>
            <td>{{Constants.rojoHanoiDemanda11}} </td>
            <td> - </td>
        </tr>
        <tr>
            <th>Cantidad a producir</th>
            <td>{{ player.RojoProduccionHanoi7 }}</td>
            <td>{{ player.RojoProduccionHanoi8 }}</td>
            <td>{{ player.RojoProduccionHanoi9 }}</td>
            <td>{{ player.RojoProduccionHanoi10 }} </td>
            <td>{{ player.RojoProduccionHanoi11 }} </td>
            <td>{% formfield player.RojoProduccionHanoi12 %} </td>
        </tr>
        </tbody>
    </table>

<div style="width: 50px; float:left; height:60px; background:gray">
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Periodo', 'Demanda Hilo Azul','Inventario inicial Hilo Azul'],
          ['1', {{Constants.HanoiDemanda7}},{{inventario1}}],
          ['2', {{Constants.HanoiDemanda8}},{{inventario2}}],
          ['3', {{Constants.HanoiDemanda9}},{{inventario3}}],
          ['4', {{Constants.HanoiDemanda10}},{{inventario4}}],
          ['5', {{Constants.HanoiDemanda11}},{{inventario5}}]
        ]);

        var options = {
          chart: {
            title: 'Demanda e Inventario durante periodos',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
  </head>
  <body>
    <div id="columnchart_material" style="width: 800px; height: 500px; margin:10px"></div>
  </body>
</div>

<div style="width: 50px; float:right; height:60px; background:yellow">

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Periodo', 'Demanda Hilo Rojo','Inventario inicial Hilo Rojo'],
          ['1', {{Constants.rojoHanoiDemanda7}},{{rojoinventario1}}],
          ['2', {{Constants.rojoHanoiDemanda8}},{{rojoinventario2}}],
          ['3', {{Constants.rojoHanoiDemanda9}},{{rojoinventario3}}],
          ['4', {{Constants.rojoHanoiDemanda10}},{{rojoinventario4}}],
          ['5', {{Constants.rojoHanoiDemanda11}},{{rojoinventario5}}]
        ]);

        var options = {
          chart: {
            title: 'Demanda e Inventario durante periodos',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material2'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
  </head>
  <body>
    <div id="columnchart_material2" style="width: 800px; height: 500px; margin:10px"></div>
  </body>
</div>

<div id="tabla11" style="width:500; height:200;margin:600px">
</div>
{% formfield player.tabla1 %}

<div>
{% next_button %}
</div>
{% endblock %}
