{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    OBJECTIVE
{% endblock %}

{% block content %}
    <p>
        The objective of your decision in production is to  <span style="font-weight:bold">minimize</span> the  <span style="font-weight:bold">total cost.</span>
        The costs can come from inventory holding, production and backorder in each period.
    </p>

    <p>
        There are no setup costs and the time to produce a Kg is 0 (no Lead time).
    </p>
    <h3>
        1. Inventory Holding Costs
    </h3>
    <p>
        When items are stored across periods, a  <span style="font-weight:bold">unit inventory cost is incurred per item</span>.
        This cost is associated to financial cost and inventory management.
        In each period you will be reminded of the holding cost.
    </p>

    <h3>
        2. Production Costs
    </h3>
    <p>
       For producing the product, a <span style="font-weight:bold">production unit cost per kilogram</span> is incurred.
    </p>

    <h3>
        3. Backorder Cost
    </h3>

    <p>
        This cost refers to the cost of not being able to supply the demand.
        All backordered demand is considered as negative inventory and has priority to be covered in the next period.
        For <span style="font-weight:bold">each kilogram</span> of <span style="font-weight:bold">product backordered</span> (negative inventory)
        a <span style="font-weight:bold">penalty</span> cost is incurred.
    </p>

    <p>
         All these costs will appear at the top corner of the screen.
    </p>


    {% next_button %}
{% endblock %}

