{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Final Observations
{% endblock %}

{% block content %}
    <h2>
        Remember the following
    </h2>

    <p>
        1. You are the production planner and have to decide whether to produce or not.
    </p>
    <p>
        2. Your objective is to minimize the sum of storage, backorder and production costs.
    </p>
    <p>
        3. From period to period, the demand will be progressively shown.
    </p>
    <p>
        4. All the cost information will be available in the upper part of the decision pages.
    </p>
    <p>
        5. You will have first a 12 period practice session so you can understand how the game works.
    </p>



    {% next_button %}
{% endblock %}