{% extends "global/Page.html" %}
{% load otree %}

{% block content %}

<p><th> Costo unitario de inventario = S/. 5</th></p>
<p><th> Costo de Set-up = S/.1500</th></p>
<p><th> Costo venta perdida = S/. 10</th></p>
<p><th> Capacidad maxima entre las dos producciones = 1500 unidades </th></p>


    <table class=table>
        <thead>
        <tr>
            <th>DATOS</th>
            <th>HILO AZUL</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Periodos</th>
            <td> Periodo 1-1 </td>
            <td> Periodo 1-2 </td>
            <td> Periodo 1-3 </td>
            <td> Periodo 1-4 </td>
            <td> Periodo 1-5 </td>
            <td> Periodo 1-6 </td>
        </tr>
        <tr>
            <th>Inventario Inicial</th>
            <td> {{Constants.inventario_inicial}} </td>
            <td> {{inventario2}} </td>
            <td> {{inventario3}} </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <th>Demanda</th>
            <td>{{Constants.LimaDemanda1}}</td>
            <td>{{Constants.LimaDemanda2}}</td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <th>Cantidad a producir</th>
            <td>{{ player.ProduccionLima1 }}</td>
            <td>{{ player.ProduccionLima2 }}</td>
            <td>{% formfield player.ProduccionLima3 %} </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
        </tr>
        </tbody>
    </table>

    <table class=table>
        <thead>
        <tr>
            <th>DATOS</th>
            <th>HILO ROJO</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Periodos</th>
            <td> Periodo 1-1 </td>
            <td> Periodo 1-2 </td>
            <td> Periodo 1-3 </td>
            <td> Periodo 1-4 </td>
            <td> Periodo 1-5 </td>
            <td> Periodo 1-6 </td>
        </tr>
        <tr>
            <th>Inventario Inicial</th>
            <td> {{Constants.inventario_inicialR}} </td>
            <td> {{Rojoinventario2}} </td>
            <td> {{Rojoinventario3}} </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <th>Demanda</th>
            <td>{{Constants.rojoLimaDemanda1}}</td>
            <td>{{Constants.rojoLimaDemanda2}}</td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <th>Cantidad a producir</th>
            <td>{{ player.RojoProduccionLima1 }}</td>
            <td>{{ player.RojoProduccionLima2 }}</td>
            <td>{% formfield player.RojoProduccionLima3 %} </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
        </tr>
        </tbody>
    </table>

<div style="width: 50px; float:left; height:60px; background:gray">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Periodo', 'Demanda Hilo Azul','Inventario inicial Hilo Azul'],
          ['1', {{Constants.LimaDemanda1}},{{Constants.inventario_inicial}}],
          ['2', {{Constants.LimaDemanda2}},{{inventario2}}]
        ]);

        var options = {
          chart: {
            title: 'Demanda e Inventario durante periodos',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
  </head>
  <body>
    <div id="columnchart_material" style="width: 800px; height: 500px;margin:10px"></div>
  </body>
</div>


<div style="width: 50px; float:right; height:60px; background:yellow">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Periodo', 'Demanda Hilo Rojo','Inventario inicial Hilo Rojo'],
          ['1', {{Constants.rojoLimaDemanda1}},{{Constants.inventario_inicialR}}],
          ['2', {{Constants.rojoLimaDemanda2}},{{Rojoinventario2}}]
        ]);

        var options = {
          chart: {
            title: 'Demanda e Inventario durante periodos',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material2'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
  </head>
  <body>
    <div id="columnchart_material2" style="width: 800px; height: 500px;"></div>
  </body>
</div>

    {% next_button %}

{% endblock %}
