{% extends "global/Page.html" %}
{% load otree %}

{% block title %}

    Thank you for being part of this study
{% endblock %}


{% block content %}

<p>With your participation, you are helping us understand better the decisions in production planification.</p>

<p>Todas sus respuestas en este experimento seran estrictamente confidenciales y solo seran utilizadas para los analisis estadisticos.</p>

<p>RECUERDE LAS INSTRUCCIONES, pero no se preocupe de acerca de los valores de los datos, ya que estos estaran disponibles en la pantalla
    de interaccion en todo momento.</p>

    {% next_button %}

{% endblock %}