{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    INTRODUCCION
{% endblock %}

{% block content %}
    <p>A partir de este momento, usted será uno de los programadores de produccion asignado para el producto principal de
        REDEX S.A.C., una compañia peruana dedicada a la fabricacion de hilos, lider en Latinoamerica y Asia con sede Lima.</p>

    <h4>
        PRODUCCION
    </h4>

    <p>La empresa produce hilos de poliester de dos tipos distintos: Rojo y Azul.</p>


<h4>EL HORIZONTE DE PLANIFICACION</h4>

<p>La produccion anual de REDEX esta dividida en 2 semestres y a su vez, 4 sedes.</p>

    {% next_button %}
{% endblock %}


