{% extends "global/Page.html" %} {% load otree %} {% block app_styles %}
<style>
    body {
        max-width: 100vw;
        background-color: #f9f9fa;
        color: #0a0a0a;
        font-size: 16px;
    }
    
    .alert-danger {
        position: fixed;
        bottom: 0px;
        right: 5px;
        z-index: 3;
    }
    
    .otree-title {
        padding: 0
    }
    
    .page-header {
        margin: 0
    }
    
    .otree-body {
        max-width: 100vw;
        background-color: #f9f9fa;
        color: #0a0a0a;
        font-size: 16px;
    }
    
    button {
        font-size: 14px;
        background: #66e2d5;
        /* background: #cfd7ff; */
        transition: 0.3s;
        text-align: center;
        font-weight: bold;
        border-radius: 3px;
        border: 2px solid #0a0a0a;
        cursor: pointer;
        color: #0a0a0a;
    }
    
    button:hover {
        /* background: #4e57ef80; */
        background: #66e2d599;
        cursor: pointer
    }
    
    .top-data {
        background: #cfd7ff;
        color: #0a0a0a;
        border: 1px solid #4e57ef;
        box-shadow: 3px 4px 0px #4e57ef;
        transition: 0.3s;
    }
    
    .top-data:hover {
        background: #4e57ef;
        color: white;
        border: 1px solid #cfd7ff;
        box-shadow: 3px 4px 0px #cfd7ff;
    }
    
    .table-custom {
        width: 100%;
        max-width: 100%;
        background-color: transparent;
        font-size: 15px;
        font-weight: 400;
    }
    
    .card {
        border: 1px solid #d6d6d6;
        box-shadow: 1px 1px 0px #c2c2c2;
        border-radius: 3px;
        margin-bottom: 1rem;
    }
    
    .card .inside {
        border-bottom: 1px solid #eeeef1;
        padding: 10px 20px;
    }
    
    .form-control {
        padding: 1px 2px;
        color: #0a0a0a;
        border: 1px solid #4e57ef;
        border-radius: 2px;
        text-align: right;
        transition: 0.3s;
    }
    
    .form-control:focus {
        padding: 1px 2px;
        background: #bebebe20;
        color: #0a0a0a;
        border: 1px solid #0a0a0a;
        box-shadow: 3px 4px 0px #0a0a0a;
        /* transform: translateY(-2px) */
    }
    
    td {
        font-size: 15px;
        font-weight: 400;
        padding: 5px 12px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
    }
    
    th {
        font-size: 15px;
        font-weight: 400;
        padding: 12px 10px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
    }
    
    .table-custom .head-text {
        font-size: 14px;
        font-weight: 700;
    }
    
    .table-custom .red-text {
        color: #cd284a99;
    }
    
    .table-custom .blue-text {
        color: #0f59f799;
    }
    
    .table-custom .uppercase {
        text-transform: uppercase
    }
    
    .table-custom .center {
        text-align: center;
    }
    
    .table-custom .right {
        text-align: right;
    }
    
    .table-custom input {
        background: #bebebe20;
        color: #0a0a0a;
        border: 1px solid #0a0a0a;
        box-shadow: 3px 4px 0px #0a0a0a;
    }
    
    .table-custom input:active input:hover input:focus {
        background: #bebebe20;
        color: #0a0a0a;
        border: 1px solid #0a0a0a;
        box-shadow: 3px 4px 0px #0a0a0a;
    }
    
    .table-custom .blue-input input {
        background: #0f59f750;
        color: #0a0a0a;
        border: 1px solid #0a0a0a;
        box-shadow: 3px 4px 0px #0a0a0a;
    }
    
    .table-custom .blue-input .form-control:focus {
        padding: 1px 2px;
        background: #bebebe20;
        color: #0a0a0a;
        border: 1px solid #0f59f780;
        box-shadow: 3px 5px 0px #0f59f780;
        transform: translateY(-1px)
    }
    
    .table-custom .red-input input {
        background: #fa2c5550;
        color: #0a0a0a;
        border: 1px solid #0a0a0a;
        box-shadow: 3px 4px 0px #0a0a0a;
    }
    
    .table-custom .red-input .form-control:focus {
        padding: 1px 2px;
        background: #bebebe20;
        color: #0a0a0a;
        border: 1px solid #fa2c5580;
        box-shadow: 3px 5px 0px #fa2c5580;
        transform: translateY(-1px)
    }
    
    .form-group {
        margin: 0
    }
    
    .card.debug-info {
        display: none;
    }
    
    .screen {
        position: relative;
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>
{% endblock %}{% block content %}

<div>
    <div style="background-color: white; position: fixed; top: 0; z-index: 2; left: 0; width: 100%; box-shadow: 0 1px 6px 0 #d2d3d770;">
        <div style="position: relative">
            <div style="display: flex; justify-content: center; align-items: center">
                <div style=" margin-top: 10px; text-align:left; font-weight:800; font-size: 32px; padding-bottom: 10px; color: #35d2c0; text-align: center">Tokyo SUMMARY</div>
            </div>

            <div style="position: absolute; right: 10px; top: 12px; bottom: 0;">
                <div style="text-align: center;">
                    <button><div style="padding: 7px 20px;">Pass to next page<span style="padding-left: 15px"> &#8594;</span></div></button>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%; padding-top: 100px;">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <h2>
                ¡CONGRATULATIONS! You have ended your production period in Tokyo.
            </h2>
            <br/>
            <p>
                Your decisions produced a total cost of: <span id="TotalTotalesMoneyFormat"></span>
            </p>
        </div>

    </div>
    <div style="width: 100%; padding-top: 30px; display: flex; justify-content: space-between">
        <div style="width: 30%;">
            <div style=" margin-top: 40px; text-align:left; font-weight:700; font-size: 24px; padding-bottom: 10px;">Inventory</div>
            <div id="container" style="width: 100%;">
                <canvas id="inventario"></canvas>
            </div>
        </div>
        <div style="width: 30%;">
            <div style=" margin-top: 40px; text-align:left; font-weight:700; font-size: 24px; padding-bottom: 10px;">Demand</div>
            <div id="container" style="width: 100%;">
                <canvas id="demanda"></canvas>
            </div>
        </div>
        <div style="width: 30%;">
            <div style=" margin-top: 40px; text-align:left; font-weight:700; font-size: 24px; padding-bottom: 10px;">Costs</div>
            <div id="container" style="width: 100%;">
                <canvas id="costos"></canvas>
            </div>
        </div>
    </div>


    <div style=" margin-top: 100px; text-align:left; font-weight:700; font-size: 24px; padding-bottom: 10px; opacity: 0.6 ">Summary</div>

    <div class="card" style="opacity: 0.6">
        <div class="inside">
            <table class="table-custom ">
                <col>
                <colgroup span="2"></colgroup>
                <colgroup span="2"></colgroup>
                <tr>
                    <th rowspan="1" class="head-text" style="border-top: 0px; border-left: 0px">Periods</td>
                        <th colspan="2" scope="colgroup" class="head-text center" style="border-top: 0px;">Period 1-7</th>
                        <th colspan="2" scope="colgroup" class="head-text center" style="border-top: 0px;">Period 1-8</th>
                        <th colspan="2" scope="colgroup" class="head-text center" style="border-top: 0px;">Period 1-9</th>
                        <th colspan="2" scope="colgroup" class="head-text center" style="border-top: 0px;">Period 1-10</th>
                        <th colspan="2" scope="colgroup" class="head-text center" style="border-top: 0px;">Period 1-11</th>
                        <th colspan="2" scope="colgroup" class="head-text center" style="border-top: 0px; border-right: 0px;">Period 1-12</th>
                </tr>
                <tr>
                    <th scope="col" class="head-text" style="border-left: 0px;">Threads</th>
                    <th scope="col" class="head-text blue-text center uppercase">Blue</th>
                    <th scope="col" class="head-text red-text center uppercase"> Red</th>
                    <th scope="col" class="head-text blue-text center uppercase"> Blue</th>
                    <th scope="col" class="head-text red-text center uppercase"> Red</th>
                    <th scope="col" class="head-text blue-text center uppercase"> Blue</th>
                    <th scope="col" class="head-text red-text center uppercase"> Red</th>
                    <th scope="col" class="head-text blue-text center uppercase"> Blue</th>
                    <th scope="col" class="head-text red-text center uppercase"> Red</th>
                    <th scope="col" class="head-text blue-text center uppercase"> Blue</th>
                    <th scope="col" class="head-text red-text center uppercase"> Red</th>
                    <th scope="col" class="head-text blue-text center uppercase"> Blue</th>
                    <th scope="col" class="head-text red-text center uppercase" style="border-right: 0px;"> Red</th>
                </tr>

                <tr>
                    <th scope="row" class="head-text" style="border-left: 0px;">Final Inventory</th>
                    <td class="right">{{inventario8}}</td>
                    <td class="right">{{Rojoinventario8}} </td>
                    <td class="right">{{inventario9}}</td>
                    <td class="right">{{Rojoinventario9}} </td>
                    <td class="right">{{inventario10}}</td>
                    <td class="right">{{Rojoinventario10}} </td>
                    <td class="right">{{inventario11}}</td>
                    <td class="right">{{Rojoinventario11}} </td>
                    <td class="right">{{inventario12}}</td>
                    <td class="right">{{Rojoinventario12}} </td>
                    <td class="right">{{inventario12final}}</td>
                    <td class="right" style="border-right: 0px;">{{Rojoinventario12final}}</td>
                </tr>
                <tr>
                    <th scope="row" class="head-text" style="border-left: 0px;">Backorder</th>
                    <td class="right">{{ventasperdidas7}} </td>
                    <td class="right">{{rojoventasperdidas7}} </td>
                    <td class="right">{{ventasperdidas8}} </td>
                    <td class="right">{{rojoventasperdidas8}} </td>
                    <td class="right">{{ventasperdidas9}} </td>
                    <td class="right">{{rojoventasperdidas9}} </td>
                    <td class="right">{{ventasperdidas10}} </td>
                    <td class="right">{{rojoventasperdidas10}} </td>
                    <td class="right">{{ventasperdidas11}} </td>
                    <td class="right">{{rojoventasperdidas11}} </td>
                    <td class="right">{{ventasperdidas12}}</td>
                    <td class="right" style="border-right: 0px;">{{rojoventasperdidas12}}</td>
                </tr>
                <tr>
                    <th scope="row" class="head-text" style="border-left: 0px;">Inventory Holding Cost (S/.)</th>
                    <td class="right">{{costoalmacenamiento7}} </td>
                    <td class="right">{{rojocostoalmacenamiento7}} </td>
                    <td class="right">{{costoalmacenamiento8}} </td>
                    <td class="right">{{rojocostoalmacenamiento8}} </td>
                    <td class="right">{{costoalmacenamiento9}} </td>
                    <td class="right">{{rojocostoalmacenamiento9}} </td>
                    <td class="right">{{costoalmacenamiento10}} </td>
                    <td class="right">{{rojocostoalmacenamiento10}} </td>
                    <td class="right">{{costoalmacenamiento11}} </td>
                    <td class="right">{{rojocostoalmacenamiento11}} </td>
                    <td class="right">{{costoalmacenamiento11}} </td>
                    <td class="right" style="border-right: 0px;">{{rojocostoalmacenamiento12}}</td>
                </tr>
                <tr>
                    <th scope="row" class="head-text" style="border-left: 0px;">Backorder Cost (S/.)</th>
                    <td class="right">{{costoventasperdidas7}} </td>
                    <td class="right">{{rojocostoventasperdidas7}} </td>
                    <td class="right">{{costoventasperdidas8}} </td>
                    <td class="right">{{rojocostoventasperdidas8}} </td>
                    <td class="right">{{costoventasperdidas9}} </td>
                    <td class="right">{{rojocostoventasperdidas9}} </td>
                    <td class="right">{{costoventasperdidas10}} </td>
                    <td class="right">{{rojocostoventasperdidas10}} </td>
                    <td class="right">{{costoventasperdidas11}} </td>
                    <td class="right">{{rojocostoventasperdidas11}} </td>
                    <td class="right">{{costoventasperdidas12}}</td>
                    <td class="right" style="border-right: 0px;">{{rojocostoventasperdidas12}}</td>
                </tr>
                <tr>
                    <th scope="row" class="head-text" style="border-left: 0px;">Product Cost (S/.)</th>
                    <td class="right">{{setup7}} </td>
                    <td class="right">{{rojosetup7}} </td>
                    <td class="right">{{setup8}} </td>
                    <td class="right">{{rojosetup8}} </td>
                    <td class="right">{{setup9}} </td>
                    <td class="right">{{rojosetup9}} </td>
                    <td class="right">{{setup10}} </td>
                    <td class="right">{{rojosetup10}} </td>
                    <td class="right">{{setup11}} </td>
                    <td class="right">{{rojosetup11}} </td>
                    <td class="right">{{setup12}} </td>
                    <td class="right" style="border-right: 0px;">{{rojosetup12}}</td>
                </tr>
                <tr>
                    <th scope="row" class="head-text" style="border-left: 0px; border-bottom: 0px">Total Costs (S/.)</th>
                    <td class="right" style="border-bottom: 0px">{{totales7}} </td>
                    <td class="right" style="border-bottom: 0px">{{rojototales7}} </td>
                    <td class="right" style="border-bottom: 0px">{{totales8}} </td>
                    <td class="right" style="border-bottom: 0px">{{rojototales8}} </td>
                    <td class="right" style="border-bottom: 0px">{{totales9}} </td>
                    <td class="right" style="border-bottom: 0px">{{rojototales9}} </td>
                    <td class="right" style="border-bottom: 0px">{{totales10}} </td>
                    <td class="right" style="border-bottom: 0px">{{rojototales10}} </td>
                    <td class="right" style="border-bottom: 0px">{{totales11}} </td>
                    <td class="right" style="border-bottom: 0px">{{rojototales11}}</td>
                    <td class="right" style="border-bottom: 0px">{{totales12}}</td>
                    <td class="right" style="border-right: 0px; border-bottom: 0px">{{rojototales12}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% block app_scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script>
    var ctx = document.getElementById('inventario').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Period 1-1', 'Period 1-2', 'Period 1-3', 'Period 1-4', 'Period 1-5', 'Period 1-6', 'Period 1-7', 'Period 1-8', 'Period 1-9', 'Period 1-10', 'Period 1-11', 'Period 1-12'],
            datasets: [{
                label: 'Blue',
                data: [`{{inventario2}}`, `{{inventario3}}`, `{{inventario4}}`, `{{inventario5}}`, `{{inventario6}}`, `{{inventario7}}`, `{{inventario8}}`, `{{inventario9}}`, `{{inventario10}}`, `{{inventario11}}`, `{{inventario12}}`],
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }, {
                label: 'Red',
                data: [`{{Rojoinventario2}}`, `{{Rojoinventario3}}`, `{{Rojoinventario4}}`, `{{Rojoinventario5}}`, `{{Rojoinventario6}}`, `{{Rojoinventario7}}`, `{{Rojoinventario8}}`, `{{Rojoinventario9}}`, `{{Rojoinventario10}}`, `{{Rojoinventario11}}`, `{{Rojoinventario12}}`],
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
<script>
    var ctx = document.getElementById('demanda').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['Period 1-1', 'Period 1-2', 'Period 1-3', 'Period 1-4', 'Period 1-5', 'Period 1-6', 'Period 1-7', 'Period 1-8', 'Period 1-9', 'Period 1-10', 'Period 1-11', 'Period 1-12'],
            datasets: [{
                label: 'Blue',
                data: [`{{Constants.JaponDemanda1}}`, `{{Constants.JaponDemanda2}}`, `{{Constants.JaponDemanda3}}`, `{{Constants.JaponDemanda4}}`, `{{Constants.JaponDemanda5}}`, `{{Constants.JaponDemanda6}}`, `{{Constants.JaponDemanda7}}`, `{{Constants.JaponDemanda8}}`, `{{Constants.JaponDemanda9}}`, `{{Constants.JaponDemanda10}}`, `{{Constants.JaponDemanda11}}`, `{{Constants.JaponDemanda12}}`],
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }, {
                label: 'Red',
                data: [`{{Constants.rojoJaponDemanda1}}`, `{{Constants.rojoJaponDemanda2}}`, `{{Constants.rojoJaponDemanda3}}`, `{{Constants.rojoJaponDemanda4}}`, `{{Constants.rojoJaponDemanda5}}`, `{{Constants.rojoJaponDemanda6}}`, `{{Constants.rojoJaponDemanda7}}`, `{{Constants.rojoJaponDemanda8}}`, `{{Constants.rojoJaponDemanda9}}`, `{{Constants.rojoJaponDemanda10}}`, `{{Constants.rojoJaponDemanda11}}`, `{{Constants.rojoJaponDemanda12}}`],
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>


<script>
    var ctx = document.getElementById('costos').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Blue', 'Red'],
            datasets: [{
                label: 'Production Cost',
                data: [`{{CostoProduccion}}`, `{{RojoCostoProduccion}}`],
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }, {
                label: 'Backorder Cost',
                data: [`{{TotalventasJapon}}`, `{{RojoTotalventasJapon}}`],
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }, {
                label: 'Inventory Holding Cost',
                data: [`{{CostoinventarioJapon}}`, `{{RojoCostoinventarioJapon}}`],
                backgroundColor: 'rgba(15, 99, 132, 0.2)',
                borderColor: 'rgba(10, 99, 132, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    stacked: true
                }],
                yAxes: [{
                    stacked: true
                }]
            }
        }
    });
</script>

<script>
    function formatMoney(amount, decimalCount = 2, decimal = ".", thousands = ",") {
        try {
            decimalCount = Math.abs(decimalCount);
            decimalCount = isNaN(decimalCount) ? 2 : decimalCount;

            const negativeSign = amount < 0 ? "-" : "";

            let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
            let j = (i.length > 3) ? i.length % 3 : 0;

            return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousands) + (decimalCount ? decimal + Math.abs(amount - i).toFixed(decimalCount).slice(2) : "");
        } catch (e) {
            console.log(e)
        }
    };
    document.getElementById("TotalTotalesMoneyFormat").innerText = "S/. " + formatMoney(`{{TotalTotales}}`);
</script>
{% endblock %} {% endblock %}